<div *ngIf="person">
    <h2><span jhiTranslate="jhipsterSandboxApp.person.detail.title">Person</span> {{person.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="jhipsterSandboxApp.person.name">Name</span></dt>
        <dd>
            <span>{{person.name}}</span>
        </dd>
    </dl>

<ngb-tabset>
  <ngb-tab title="Tasks">
    <template ngbTabContent>
                    <jhi-task-list>Loading task...</jhi-task-list>
    </template>
  </ngb-tab>
  <ngb-tab>
    <template ngbTabTitle><b>Other</b> title</template>
    <template ngbTabContent>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid.
      <p>Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table
      craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl
      cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit. Keytar helvetica VHS salvia
      yr, vero magna velit sapiente labore stumptown. Vegan fanny pack odio cillum wes anderson 8-bit, sustainable jean
      shorts beard ut DIY ethical culpa terry richardson biodiesel. Art party scenester stumptown, tumblr butcher vero
      sint qui sapiente accusamus tattooed echo park.</p>
    </template>
  </ngb-tab>
</ngb-tabset>

    <button type="submit" (click)="previousState()" class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button" [routerLink]="['/', { outlets: { popup: 'person/'+ person.id + '/edit'} }]" replaceUrl="true" class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>

    <button type="submit" [routerLink]="['/', { outlets: { popup: 'person/'+ person.id + '/delete'} }]" replaceUrl="true" class="btn btn-danger btn-primary">
        <span class="fa fa-remove"></span>
        <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
    </button>

</div>