<div *ngIf="person">
    <h2><span jhiTranslate="jhipsterSandboxApp.person.detail.title">Person</span> {{person.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="jhipsterSandboxApp.person.name">Name</span></dt>
        <dd>
            <span>{{person.name}}</span>
        </dd>
    </dl>

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    Tasks
                </div>
                <div class="card-block">
                    <jhi-task-list>Loading task...</jhi-task-list>
                </div>
            </div>
        </div>
    </div>

    <button type="submit" (click)="previousState()" class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button" [routerLink]="['/', { outlets: { popup: 'person/'+ person.id + '/edit'} }]" replaceUrl="true" class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>

    <button type="submit" [routerLink]="['/', { outlets: { popup: 'person/'+ person.id + '/delete'} }]" replaceUrl="true" class="btn btn-danger btn-primary">
        <span class="fa fa-remove"></span>
        <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
    </button>

</div>